<configuration>

  <appSettings>
    <!-- The Salesforce connected app is named: GetDataConsole3 -->
    <add key="SalesforceConsumerKey" value="3MVG99OxTyEMCQ3hPoopWX_Z07hW3xBId6qAw6tm8Q39cweuyN2k1sab8KFGiBjAU5Y0D45.ImrpqXwcUGnDL" />
    <add key="SalesforceConsumerSecret" value="bd45ae8702564022b642684e2fcf69ae" />
    <add key="SalesforceUserName" value="cc_api@asa.org.full" />
    <add key="SalesforcePassword" value="JS?2.iZcKAaDK" />
    <add key="SalesforceSecurityToken" value="OptionalValue" />
    <add key="SalesforceSandboxURL" value="https://test.salesforce.com/services/oauth2/token" />
    <add key="SalesforceProdURL" value="https://login.salesforce.com/services/oauth2/token" />
    <add key="SalesforceRecordTypeIdList" value="'0120d0000001H78','0120d0000001H79','0120d0000001H7A'" />
    <add key="IsUsingSFSandbox" value="true" />
    <!-- Need to have the text that describes the Contact's program (EOC/Ts/UB) based on Contact's RecordTypeId. Used in SP file metadata-->
    <add key="RecordTypeArray" value="0120d0000001H78AAE,EOC|0120d0000001H79AAE,Talent Search|0120d0000001H7AAAU,Upward Bound" />
    <add key="DownloadedFilePath" value="\\amsa.com\Process\Scripts\STA\C#\SalesforceUpload\Release\downloaded\" />
    <add key="SharepointUserName" value="foobar" />
    <add key="SharepointPassword" value="foobar" />
    <add key="SharepointUrl" value="https://americanstudentassistance.sharepoint.com/sites/CPSRecords/" />
  </appSettings>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>

</configuration>