<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  <appSettings>
      <!-- The Salesforce connected app is named: GetDataConsole3 -->
      <add key="SalesforceConsumerKey" value="xxx" />
      <add key="SalesforceConsumerSecret" value="xxx" />
      <add key="SalesforceUserName" value="o365_upload_api@asa.org.full" />
      <add key="SalesforcePassword" value="xxx" />
      <add key="SalesforceSecurityToken" value="OptionalValue" />
      <add key="SalesforceSandboxURL" value="https://test.salesforce.com/services/oauth2/token" />
      <add key="SalesforceProdURL" value="https://login.salesforce.com/services/oauth2/token" />
      <add key="SalesforceRecordTypeIdList" value="'0120d0000001H78','0120d0000001H79','0120d0000001H7A'" />
      <add key="IsUsingSFSandbox" value="true" />
      <!--This should only ever be false in development-->
      <add key="DeleteAttachmentFromSF" value="false" />
      <!-- Need to have the text that describes the Contact's program (EOC/Ts/UB) based on Contact's RecordTypeId. Used in SP file metadata-->
      <add key="RecordTypeArray" value="0120d0000001H78AAE,EOC|0120d0000001H79AAE,Talent Search|0120d0000001H7AAAU,Upward Bound" />
      <add key="DownloadedFilePath" value="xxx" />
      <add key="SharepointUserName" value="xxx" />
      <add key="SharepointPassword" value="xxx" />
      <add key="SharepointUrl" value="https://americanstudentassistance.sharepoint.com/sites/CPSRecords/" />
      <add key="NotificationEmailAddress" value="bzaino@asa.org" />
      <add key="SMTPServer" value="mailhost" />   
  </appSettings>
  <log4net>
    <root>
      <level value="ALL" />
      <appender-ref ref="ConsoleAppender" />
      <appender-ref ref="RollingFileAppender" />
    </root>
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %level %logger - %message%newline" />
      </layout>
    </appender>
    <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="AttachmentUploadLog.txt" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="5" />
      <maximumFileSize value="10MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %level %logger - %message%newline" />
      </layout>
    </appender>
  </log4net>  
  
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>


</configuration>
