<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  <appSettings>
      <!-- The Salesforce connected app is named: GetDataConsole3 -->
      <add key="SalesforceConsumerKey" value="@S2S.SalesforceConsumerKey@" />
      <add key="SalesforceConsumerSecret" value="@S2S.SalesforceConsumerSecret@" />
      <add key="SalesforceUserName" value="@S2S.SalesforceUserName@" />
      <add key="SalesforcePassword" value="@S2S.SalesforcePassword@" />
      <add key="SalesforceSecurityToken" value="@S2S.SalesforceSecurityToken@" />
      <add key="SalesforceSandboxURL" value="@S2S.SalesforceSandboxURL@" />
      <add key="SalesforceProdURL" value="@S2S.SalesforceProdURL@" />
      <add key="SalesforceRecordTypeIdList" value="@S2S.SalesforceRecordTypeIdList@" />
      <add key="IsUsingSFSandbox" value="@S2S.IsUsingSFSandbox@" />
      <!--This should only ever be false in development-->
      <add key="DeleteAttachmentFromSF" value="@S2S.DeleteAttachmentFromSF@" />
      <!-- Need to have the text that describes the Contact's program (EOC/Ts/UB) based on Contact's RecordTypeId. Used in SP file metadata-->
      <add key="RecordTypeArray" value="@S2S.RecordTypeArray@" />
      <add key="DownloadedFilePath" value="@S2S.DownloadedFilePath@" />
      <add key="SharepointUserName" value="@S2S.SharepointUserName@" />
      <add key="SharepointPassword" value="@S2S.SharepointPassword@" />
      <add key="SharepointUrl" value="@S2S.SharepointUrl@" />
  </appSettings>
  <log4net>
    <root>
      <level value="ALL" />
      <appender-ref ref="ConsoleAppender" />
      <appender-ref ref="RollingFileAppender" />
    </root>
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %level %logger - %message%newline" />
      </layout>
    </appender>
    <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="AttachmentUploadLog.txt" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="5" />
      <maximumFileSize value="10MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %level %logger - %message%newline" />
      </layout>
    </appender>
  </log4net>  
  
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>


</configuration>
